body{margin: 0px;
padding: 0px;}
.fa-dumbbell{font-size: 60px;
  padding: 10px;
color: black;}
.fa-solid {background-color: aliceblue;}
.navbar{color: rgb(239, 64, 64);
background-color :rgba(0,0,0,.9)
;text-decoration: none;
display: flex;
height:100PX;
;}
.navbar li{float: left;
    list-style: none
    ;width: 200px; 
font-size: 20PX;
margin-top:20PX;
font-style: italic;

}
.navbar ul{overflow: auto;
  display: flex;}
.navbar li a{text-decoration: none;}
    


.SEARCH{margin-left: 200PX;
width: 500PX;
height: 40PX;
border-bottom-right-radius: 40PX;
border-bottom-left-radius: 40PX;
border-top-left-radius: 40PX;
border-TOP-right-radius: 40PX;}

#BACK{background-image:URL(ok.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600pX;
  padding-top: 1PX;


}
     .BEST{color:white;
    margin: 40PX;; 
  font-size: 20px
    ;width:400pX;
  padding:50px;
  border-bottom-left-radius: 150PX
  ;border-bottom-right-radius: 150PX
  ;border-top-right-radius:150PX;
  border-top-left-radius: 150PX;
  background-color: black;
  margin-bottom: 20px;
  height:400PX;
  background-color: transparent;
  font-style: italic;


}
.NAME{margin: 20PX;
}
.SUBMIT{
  font-size: 20PX
  ;margin: 28PX;}
  .TOPIC{color: rgb(30, 36, 36);
  display: block;
margin-left: auto;
margin-right: auto;
width: 400PX
;font-size: 35PX;
margin-top: 10PX;
cursor: default;}


.BAR{float: left;
   width: 200PX;}
.PROVIDE{display: flex;
  list-style: none;
height: 400PX;
 margin-top: 20PX;}
.PER{display: block;
margin-left: auto
;margin-right: auto

;}
.EQ{background-color:white;
  width: 400PX;
  margin-left: 80PX

  ;padding-left: 20PX;
  
;}
.FREE{
  width:400PX ;
  ;padding-left: 20PX;}
.PER{width: 400px;;}
.GYME{font-size: 30PX;}
.TRA{FONT-size:30PX ;;}
.PLAN{font-size: 30PX;}
.BOX {height:400PX;
width:1515PX}
.HEADING{padding-top: 20PX;
   margin-left:  30px;;
  width:600PX
;height: 100PX;
;font-size: 30PX;
color: azure
;}
.BOXX{background-image: url(BOXING.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  ;height: 500PX;
  cursor: default;}
  .HERE{margin-left: 150PX;
  font-size: 20PX;
   color: rgb(12, 16, 15);}
   .TERM{font-size: 20PX;
  display: block;
margin-left: auto;
margin-right: auto;
width: 500PX; 
cursor: default;}
.NO{background-color: rgb(44, 44, 41);
display: flex;
cursor: default;}
.NO LI{float: left;
list-style: none;
width: 400PX;
font-size: 20PX;
color: white;
margin-left: 85PX;}
.CONDITION{font-size: 30PX;
  
background-color: black;
color: white;
cursor: default;}
.navbar li:hover{transform: scale(1.1);}
.insta{margin-top: 20px;
  background-color: #2f2d2d;
  display: flex;height: 75px;}
.insta i{font-size: 45px;}
.insta div{margin-left: 300px;padding: 10px;}
.founder{  
  color: white;
  text-align: center;top: 250px
  ;background-color: #2f2d2d;
  height: 100px;
cursor: default;}
.insta i:hover{transform: scale(1.3);color: yellow;}
.nav a{color: antiquewhite;
text-decoration: none;}

.SUBMIT:hover{transform: scale(1.2);}

@media only screen and (max-width:1020px){
  #BACK{height: 1200PX;}
#navbar{width: 1125px;}
.PROVIDE{height: 1800px;;
  ;flex-direction: column;
  background-color:  rgb(255, 202, 202)}
  .FREE{width: 800px;}
.FREE h1{text-align: center;
  font-size: 45px;margin-left: 300px;}
.FREE  ul{margin-left: 350px}
.GYME h1{text-align: center;}
.GYME ul{width: 100px;}
.EQ h1{text-align: center;
  font-size: 50px;}
.EQ{width: 0px;
  padding: 0px;}
.TOPIC { text-align: center;}
#navbar ul{align-items: flex-end;}
.EQ li{font-size: 45px;
  height: 50px}
.TRA{font-size: 45px;}
.PLAN{font-size: 40px;}
.sik{width: 500px;}
.sik h1{font-size: 45px;}
body{width: 1125px;}
.PER{padding-left: 50px;}
#mp{width: 500px;margin-left: 300px;}
.BEST FORM{ font-size: 35px;margin-top: 40PX;}
.BEST{width: 800PX;margin-top: 200px;}
.insta img{padding:10px ;}}



